*.avi filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
video/* filter=lfs diff=lfs merge=lfs -text
core/* filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.xmp filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.CR2 filter=lfs diff=lfs merge=lfs -text
*.cr2 filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.JPEG filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.AVI filter=lfs diff=lfs merge=lfs -text
*.MP4 filter=lfs diff=lfs merge=lfs -text
*.TIF filter=lfs diff=lfs merge=lfs -text
*.TIFF filter=lfs diff=lfs merge=lfs -text
metadataengine/* filter=lfs diff=lfs merge=lfs -text
albummodel/* filter=lfs diff=lfs merge=lfs -text
database/* filter=lfs diff=lfs merge=lfs -text
*.pgf filter=lfs diff=lfs merge=lfs -text
*.PGF filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.SQL filter=lfs diff=lfs merge=lfs -text
dimg/* filter=lfs diff=lfs merge=lfs -text
alignment/* filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.TGZ filter=lfs diff=lfs merge=lfs -text
*.DATA filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
facesengine/* filter=lfs diff=lfs merge=lfs -text
*.gpx filter=lfs diff=lfs merge=lfs -text
*.GPX filter=lfs diff=lfs merge=lfs -text
geoiface/* filter=lfs diff=lfs merge=lfs -text
editor/* filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.SH filter=lfs diff=lfs merge=lfs -text
imgqsort/* filter=lfs diff=lfs merge=lfs -text
iojobs/* filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.RC filter=lfs diff=lfs merge=lfs -text
mediawiki/* filter=lfs diff=lfs merge=lfs -text
timestampupdate/* filter=lfs diff=lfs merge=lfs -text
advancerename/* filter=lfs diff=lfs merge=lfs -text
fileio/* filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
